body {
    font-family: Arial, sans-serif;
}

.hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://www.ece.ntua.gr/templates/modern/css/images/banner-image.jpg');
    background-size: cover;
    background-position: center;
    height: 60vh;
    color: white;
}
